@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Login";

    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string;
}



<form action="Login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
    @Html.AntiForgeryToken()

    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="login" />
</form>

@{
    if (!string.IsNullOrEmpty(error))
    {
        <h2 class="alert-danger" style="padding:30px">@error</h2>
    }
}

