


<div class="contentIn">

    <h1> university page from view component</h1>
    <h1> university page from view component</h1>
    <h1> university page from view component</h1>
    <h1> university page from view component</h1>
    <h1> university page from view component</h1>


</div>