@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #caccd6;
    line-height: 30px;
}

#content {
    margin-left: 280px;
    height: 100%;
    padding: 0px;
}

.contentIn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.contentInKeywordPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
}

.form-group{
    margin: 15px;
}

.contentIn h1{
    margin-bottom: 3rem;
}

.contentIn button {
    margin-top: 3rem;
}

.contentIn label {
    font-weight: 600;
    font-size: medium;
}

table {
    margin-top: 2%;
}

td, th{
    justify-content: center;
}

#error{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: red;
    margin: 8px;
    padding: 4px;
}

.sidenav #logout:hover {
    background-color: #292c35;
    color: red;
    cursor: pointer;
}

.sidenav #home:hover, #dashboard:hover {
    background-color: #292c35;
    color: lightgreen;
    cursor: pointer;
}

.sidenav #home, #dashboard, #logout {
    display: flex;
    color: lightgray;
    text-align: center;
    justify-content:center;

}

.contentIn img{
    width: 50%;
}

.sidenav {
    position: fixed;
    width: 280px;
    height: 100%;
    background-color: #1e2027;
}

.sidenav .main-buttons{
    display: flex;
    flex-direction: column;
    margin: 25% 1% 25% 1%;
    padding: 0;
}

.sidenav a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 7%;
}

.sidenav .main-buttons a {
    font-size: 18px;
    padding-left: 0px;
}

.sidenav .main-buttons .hidden a{
    padding: 8%;
    font-size: 18px;
}

.sidenav .main-buttons a:hover {
    background-color: coral;
    color: white;
}

.sidenav .main-buttons .item{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 7%;
    cursor:pointer;
}

.sidenav .main-buttons .item i{
    font-size: larger;
    color: grey;
    margin-left: 2%;
    margin-right: 4%;
}

.sidenav .main-buttons .item:hover{
    background-color: coral;
}

.hidden {
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
    background-color: #292c35;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.sidenav .main-buttons > div:hover .hidden, .sidenav .main-buttons > div:active .hidden, .sidenav .main-buttons > div:focus .hidden {
    width: 228px;
}

.hidden a{
    display:flex;
    padding-left: 10%;
}

.sidenav .main-buttons .hidden a:hover {
    background-color: mediumvioletred;
}

#blank{
    width: 1%;
    height: 15%;
}





