<!-- ======= Main Section ======= -->
<main id="main">

    <partial name="~/Views/Shared/Partials/_PartialHomeMainPartAbout.cshtml" />

    <partial name="~/Views/Shared/Partials/_PartialHomeMainPartCounts.cshtml" />

    <partial name="~/Views/Shared/Partials/_PartialHomeMainPartWhyUs.cshtml" />

    <partial name="~/Views/Shared/Partials/_PartialHomeMainPartFeatures.cshtml" />

    <partial name="~/Views/Shared/Partials/_PartialHomeMainPartSourcesOne.cshtml" />

    <partial name="~/Views/Shared/Partials/_PartialHomeMainPartSourcesTwo.cshtml" />

</main>