    <!-- ======= Sources Two Section ======= -->
<section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>TANITIM</h2>
            <p>KAMPÜSTEN KARELER</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="course-item">
                    <img width="400" height="300" src="~/assets/Home/du_kampus1.jpg">
                </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="course-item">
                    <img width="400" height="300" src="~/assets/Home/du_kampus2.jpg">
                </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="course-item">
                    <img width="400" height="300" src="~/assets/Home/du_kampus3.jpg">
                </div>
            </div> <!-- End Course Item-->

        </div>

    </div>
</section>