    <!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top align-items-center justify-content-center" >
        <div class="container">
            <div class="row align-items-center justify-content-lg-evenly">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Adres</h3>
                    <p>
                        Düzce Üniversitesi <br>
                        81620 Yörük/Düzce<br>
                        Merkez/Düzce <br><br>
                        <strong>Telefon:</strong> +90 850 800 8181<br>
                        <strong>Faks:</strong> +90 (380) 5421103<br>
                        <strong>Email:</strong> du@edu.tr<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Yararlı Bağlantılar</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://duzce.edu.tr/6db5/e-posta">E-posta</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://duzce.edu.tr/idari/kutuphane">Kütüphane</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="http://www.havuz.duzce.edu.tr/">Havuz</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Servislerimiz</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://obs.duzce.edu.tr/account/login?returnurl=/">ÖBS/KYBS</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://uzem.duzce.edu.tr/">UZEM</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://pbs.duzce.edu.tr/">PBS</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; <strong><span>Düzce Üniversitesi</span></strong>. Tüm hakları saklıdır.
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="https://www.instagram.com/duzceuniversite/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
            <a href="https://twitter.com/duzceuniversite" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/DuzceUniversite" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.youtube.com/duzceuniversite" class="youtube" target="_blank"><i class="bx bxl-youtube"></i></a>
        </div>
    </div>
</footer>