    <!-- ======= Sources One Section ======= -->
<section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>TANITIM</h2>
            <p>TANITIM FİLMLERİ</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="course-item">
                    <div class="course-content">
                        <h4 class="text-center">DÜ Tanıtım Filmi 2021</h4>
                    </div>

                    <iframe width="400" height="300" frameborder="0"
                            src="https://www.youtube.com/embed/mSS-tfXDrT4" allowfullscreen>
                    </iframe>
                </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="course-item">
                    <div class="course-content">
                        <h4 class="text-center">DÜ Tanıtım Filmi 2018</h4>
                    </div>

                    <iframe width="400" height="300" frameborder="0"
                            src="https://www.youtube.com/embed/-myyQEpicLY" allowfullscreen>
                    </iframe>
                </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="course-item">
                    <div class="course-content">
                        <h4 class="text-center">DÜ 15. Yıl Özel Belgeseli</h4>
                    </div>

                    <iframe width="400" height="300" frameborder="0"
                            src="https://www.youtube.com/embed/z2hqyvV6Me0" allowfullscreen>
                    </iframe>
                </div>
            </div> <!-- End Course Item-->

        </div>

    </div>
</section>