    <!-- ======= Counts Section ======= -->
<section id="counts" class="counts section-bg">
    <div class="container">

        <div class="row counters">

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="17592" data-purecounter-duration="1" class="purecounter"></span>
                <p>Öğrenciler</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
                <p>Fakülteler</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="1231" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projeler</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="1275" data-purecounter-duration="1" class="purecounter"></span>
                <p>Akademisyenler</p>
            </div>

        </div>

    </div>
</section>