<nav class="sidenav">
    <!--Dashboard-->
    <div><a id="dashboard" asp-controller="Dashboard" asp-action="Index">Düzce Üniversitesi Yönetim Paneli</a></div>

    <ul class="main-buttons">
        <li>
            <i class="fa fa-asterisk fa-2x"></i>
            Ana Sayfa
            <ul class="hidden">
                <li>Vizyonumuz</li>
                <li>İstatistikler</li>
                <li>Hakkımızda</li>
                <li>Anahtar Kelimeler</li>
                <li>Tanıtım Filmleri</li>
                <li>Görseller</li>
                <li>İletişim</li>
            </ul>
        </li>

        <li>
            <i class="fa fa-asterisk fa-2x"></i>
            Üniversitemiz
            <ul class="hidden">
                <li>Kategori Ekle</li>
                <li>Kategori Sil</li>
                <li>Kategori Güncelle</li>
                <li>Kategori Listele</li>
            </ul>
        </li>

        <li>
            <i class="fa fa-asterisk fa-2x"></i>
            Akademik
            <ul class="hidden">
                <li>Kategori Ekle</li>
                <li>Kategori Sil</li>
                <li>Kategori Güncelle</li>
                <li>Kategori Listele</li>
            </ul>
        </li>

        <li>
            <i class="fa fa-asterisk fa-2x"></i>
            Araştırma
            <ul class="hidden">
                <li>Kategori Ekle</li>
                <li>Kategori Sil</li>
                <li>Kategori Güncelle</li>
                <li>Kategori Listele</li>
            </ul>
        </li>

        <li>
            <i class="fa fa-asterisk fa-2x"></i>
            İhtisaslaşma
            <ul class="hidden">
                <li>Kategori Ekle</li>
                <li>Kategori Sil</li>
                <li>Kategori Güncelle</li>
                <li>Kategori Listele</li>
            </ul>
        </li>

        <li>
            <i class="fa fa-asterisk fa-2x"></i>
            Hızlı Erişim
            <ul class="hidden">
                <li>Kategori Ekle</li>
                <li>Kategori Sil</li>
                <li>Kategori Güncelle</li>
                <li>Kategori Listele</li>
            </ul>
        </li>
    </ul>

    <!--Home-->
    <div><a id="home" asp-controller="Home" asp-action="Index">Anasayfa</a></div>
    <!--Logout-->
    <div><a id="logout" asp-controller="Dashboard" asp-action="Logout">Çıkış Yap</a></div>
</nav>