<nav class="sidenav">
    <h2>Düzce Üniversitesi</h2>
    <ul class="main-buttons">
        <li>
            <i class="fa fa-circle fa-2x"></i>
            Birinci Başlık
            <ul class="hidden">
                <li>Bir</li>
                <li>İki</li>
                <li>Üç</li>
                <li>Dört</li>
            </ul>
        </li>

        <li>
            <i class="fa fa-circle fa-2x"></i>
            İkinci Başlık
            <ul class="hidden">
                <li>Bir</li>
                <li>İki</li>
                <li>Üç</li>
                <li>Dört</li>
            </ul>
        </li>

        <li>
            <i class="fa fa-circle fa-2x"></i>
            Üçüncü Başlık
            <ul class="hidden">
                <li>Bir</li>
                <li>İki</li>
                <li>Üç</li>
                <li>Dört</li>
            </ul>
        </li>
    </ul>
    <div><a href="#">Çıkış Yap</a></div>
</nav>