    <!-- ======= Sources Two Section ======= -->
<section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>TANITIM</h2>
            <p>KAMPÜSTEN KARELER</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="course-item">
                    <img width="400" height="300" src="@Model.Pictures[0].Url">
                </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="course-item">
                    <img width="400" height="300" src="@Model.Pictures[1].Url">
                </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="course-item">
                    <img width="400" height="300" src="@Model.Pictures[2].Url">
                </div>
            </div> <!-- End Course Item-->

        </div>

    </div>
</section>