    <!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="~/assets/Home/about.jpg" class="img-fluid">
            </div>

            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">

                <h3>
                    Vizyonumuz
                </h3>
                <br />
                <p class="fst-italic">
                    Düzce Üniversitesi’nin vizyonu eğitim, öğretim ve araştırmada öncü konumuyla geleceği şekillendiren bir üniversite olmaktır.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Eğitim ve öğretim deneyimini yenilikçi ve yaratıcı yaklaşımlarla zenginleştirmek,</li>
                    <li><i class="bi bi-check-circle"></i> Bilim, araştırma, yaratıcılık, yenilikçilik kültürünü güçlendirerek dünyanın lider araştırma üniversiteleri arasında yer almak,</li>
                    <li><i class="bi bi-check-circle"></i> Akademik, bilimsel ve kültürel faaliyetlerimizle daha iyi bir geleceğin şekillenmesine katkıda bulunmak,</li>
                </ul>
                <p>
                    vizyonumuzun ana ögelerini oluşturmaktadır.
                </p>

            </div>
        </div>

    </div>
</section>