    <!-- ======= Counts Section ======= -->
<section id="counts" class="counts section-bg">
    <div class="container">

        <div class="row counters">

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="@Model.Statistic.NumberOfStudent" data-purecounter-duration="1" class="purecounter"></span>
                <p>Öğrenciler</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="@Model.Statistic.NumberOfFaculty" data-purecounter-duration="1" class="purecounter"></span>
                <p>Fakülteler</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="@Model.Statistic.NumberOfProject" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projeler</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="@Model.Statistic.NumberOfTeacher" data-purecounter-duration="1" class="purecounter"></span>
                <p>Akademisyenler</p>
            </div>

        </div>

    </div>
</section>