<nav class="sidenav">
    <!--Dashboard-->
    <div><a id="dashboard" asp-controller="Dashboard" asp-action="Index">Düzce Üniversitesi Yönetim Paneli</a></div>

    <!--Content-->
    <div class="main-buttons">
        <div class="item">
            <i class="fa fa-asterisk fa-2x"></i>
            <span>Ana Sayfa</span>
            <div class="hidden">
                <div id="blank"></div>
                <a asp-controller="Dashboard" asp-action="ReadCategory" asp-route-page="university">Vizyonumuz</a>
                <a asp-controller="Dashboard" asp-action="ReadCategory" asp-route-page="university">İstatistikler</a>
                <a asp-controller="Dashboard" asp-action="ReadCategory" asp-route-page="university">Hakkımızda</a>
                <a asp-controller="Dashboard" asp-action="ReadCategory" asp-route-page="university">Anahtar Kelimeler</a>
                <a asp-controller="Dashboard" asp-action="ReadCategory" asp-route-page="university">Tanıtım Filmleri</a>
                <a asp-controller="Dashboard" asp-action="ReadCategory" asp-route-page="university">Görseller</a>
                <a asp-controller="Dashboard" asp-action="ReadCategory" asp-route-page="university">İletişim</a>
            </div>
        </div>

        <div class="item">
            <i class="fa fa-asterisk fa-2x"></i>
            <a asp-controller="Dashboard" asp-action="ReadCategory" asp-route-page="university">Üniversitemiz</a>
        </div>

        <div class="item">
            <i class="fa fa-asterisk fa-2x"></i>
            <a asp-controller="Dashboard" asp-action="ReadCategory" asp-route-page="academic">Akademik</a>
        </div>

        <div class="item">
            <i class="fa fa-asterisk fa-2x"></i>
            <a asp-controller="Dashboard" asp-action="ReadCategory" asp-route-page="research">Araştırma</a>
        </div>

        <div class="item">
            <i class="fa fa-asterisk fa-2x"></i>
            <a asp-controller="Dashboard" asp-action="ReadCategory" asp-route-page="specialization">İhtisaslaşma</a>
        </div>

        <div class="item">
            <i class="fa fa-asterisk fa-2x"></i>
            <a asp-controller="Dashboard" asp-action="ReadCategory" asp-route-page="fastAccess">Hızlı Erişim</a>
        </div>
    </div>

    <!--Home-->
    <div><a id="home" asp-controller="Home" asp-action="Index">Anasayfa</a></div>
    <!--Logout-->
    <div><a id="logout" asp-controller="Dashboard" asp-action="Logout">Çıkış Yap</a></div>
</nav>