@{
    Layout = "_LayoutDashboard";
    ViewData["Title"] = "Ekle";
    var pageName = ViewData["pageName"];
}

@{
    switch (pageName)
    {
        case "home-about":

            break;

        case "home-statistics":

            break;

        case "home-keywords":

            break;

        case "home-videos":

            break;

        case "home-pictures":

            break;

        case "home-contact":

            break;


        case "university":
            @await Component.InvokeAsync("UniversityPageCreate");
            break;

        case "academic":
            @await Component.InvokeAsync("AcademicPageCreate");
            break;

        case "research":
            @await Component.InvokeAsync("ResearchPageCreate");
            break;

        case "specialization":
            @await Component.InvokeAsync("SpecializationPageCreate");
            break;

        case "fastAccess":
            @await Component.InvokeAsync("FastAccessPageCreate");
            break;

        default:
            <h1>Can't get the pageName</h1>
            break;
    }
}
