@{
    Layout = "_LayoutDashboard";
    ViewData["Title"] = "Ekle";
    var pageName = ViewData["pageName"];
}

@{
    switch (pageName)
    {
        case "university":
        case "academic":
        case "research":
        case "specialization":
        case "fastAccess":

            @await Component.InvokeAsync("CreateCategory");
            break;


        default:
            <h1>Can't get the pageName</h1>
            break;
    }
}
