@{
    Layout = "_LayoutDashboard";
    ViewData["Title"] = "Yönetim Paneli";

    string todayDate = DateTime.Now.ToString("d-M-yyyy");
    string currentTime = DateTime.Now.ToString("HH:mm:ss tt");

}

<div id="contentIn">
    <h1>Hoşgeldin @User.Identity.Name</h1>
    <div><span><strong>Tarih: @todayDate</strong></span></div>
    <div><span><strong>Saat: @currentTime</strong></span></div>
    <img src="~/assets/Login/dü_logo.jpg" width="50%" >
</div>