@{
    Layout = "_LayoutDashboard";
    ViewData["Title"] = "Yönetim Paneli";

    string todayDate = DateTime.Now.ToString("d-M-yyyy");
    string currentTime = DateTime.Now.ToString("HH:mm:ss tt");
}

<div class="contentIn">
    <h1>Hoşgeldin <span style="color:green"><strong>@User.Identity.Name</strong></span></h1>
    <div><span><strong>Tarih: <span style="color:green">@todayDate</span></strong></span></div>
    <div><span><strong>Saat: <span id="span" style="color:green"></span></strong></span></div>
    <img src="~/assets/Login/dü_logo.jpg" >
</div>


<script>
    var span = document.getElementById('span');

    function time() {
        var d = new Date();
        var s = d.getSeconds();
        var m = d.getMinutes();
        var h = d.getHours();
        span.textContent =
            ("0" + h).substr(-2) + ":" + ("0" + m).substr(-2) + ":" + ("0" + s).substr(-2);
    }

    setInterval(time, 1000);
</script>