@{
    Layout = "_LayoutDashboard";
    ViewData["Title"] = "Listele";
    var pageName = ViewData["pageName"];
}

@{
    switch (pageName)
    {
        case "university":
        case "academic":
        case "research":
        case "specialization":
        case "fastAccess":

            @await Component.InvokeAsync("ReadCategory");
            break;


        case "home-about":
            @await Component.InvokeAsync("HomePageAbout");
            break;

        case "home-statistics":
            @await Component.InvokeAsync("HomePageStatistics");
            break;

        case "home-keywords":
            @await Component.InvokeAsync("HomePageKeywords");
            break;

        case "home-videos":
            @await Component.InvokeAsync("HomePageVideos");
            break;

        case "home-pictures":
            @await Component.InvokeAsync("HomePagePictures");
            break;

        case "home-contact":
            @await Component.InvokeAsync("HomePageContact");
            break;


        default:
            <h1>Can't get the pageName</h1>
            break;
    }
}