@{
    Layout = "_LayoutDashboard";
    ViewData["Title"] = "Listele";
    var pageName = ViewData["pageName"];
}

@{
    switch (pageName)
    {
        case "home-about":
            @await Component.InvokeAsync("HomeAboutPage");
            break;

        case "home-statistics":
            @await Component.InvokeAsync("HomeStatisticsPage");
            break;

        case "home-keywords":
            @await Component.InvokeAsync("HomeKeywordsPage");
            break;

        case "home-videos":
            @await Component.InvokeAsync("HomeVideosPage");
            break;

        case "home-pictures":
            @await Component.InvokeAsync("HomePicturesPage");
            break;

        case "home-contact":
            @await Component.InvokeAsync("HomeContactPage");
            break;


        case "university":
            @await Component.InvokeAsync("UniversityPage");
            break;

        case "academic":
            @await Component.InvokeAsync("AcademicPage");
            break;

        case "research":
            @await Component.InvokeAsync("ResearchPage");
            break;

        case "specialization":
            @await Component.InvokeAsync("SpecializationPage");
            break;

        case "fastAccess":
            @await Component.InvokeAsync("FastAccessPage");
            break;

        default:
            <h1>Error</h1>
            break;
    }
}