@{
    Layout = "_LayoutDashboard";
    ViewData["Title"] = "Güncelle";
    var pageName = ViewData["pageName"];
    var id = ViewData["id"];

}

@{ 
    <h1>@pageName</h1>
    <h1>@id</h1>
}

update categoryyyyyyyyyyyyyyyy
