@{
    Layout = "_LayoutDashboard";
    ViewData["Title"] = "Güncelle";
    var pageName = ViewData["pageName"];
    var id = ViewData["id"];
}

@{
    switch (pageName)
    {
        case "university":
        case "academic":
        case "research":
        case "specialization":
        case "fastAccess":

            @await Component.InvokeAsync("UpdateCategory");
            break;


        case "home-keywords":
            @await Component.InvokeAsync("HomePageKeywordsUpdate");
            break;

        case "home-videos":
            @await Component.InvokeAsync("HomePageVideosUpdate");
            break;

        case "home-pictures":
            @await Component.InvokeAsync("HomePagePicturesUpdate");
            break;


        default:
            <h1>Can't get the pageName</h1>
            break;
    }
}



