@{
    Layout = "_LayoutDashboard";
    ViewData["Title"] = "Güncelle";
    var pageName = ViewData["pageName"];
    var id = ViewData["id"];
}

@{
    switch (pageName)
    {
        case "home-about":

            break;

        case "home-statistics":

            break;

        case "home-keywords":

            break;

        case "home-videos":

            break;

        case "home-pictures":

            break;

        case "home-contact":

            break;


        case "university":
            @await Component.InvokeAsync("UniversityPageUpdate");
            break;

        case "academic":
            @await Component.InvokeAsync("AcademicPageUpdate");
            break;

        case "research":
            @await Component.InvokeAsync("ResearchPageUpdate");
            break;

        case "specialization":
            @await Component.InvokeAsync("SpecializationPageUpdate");
            break;

        case "fastAccess":
            @await Component.InvokeAsync("FastAccessPageUpdate");
            break;

        default:
            <h1>Can't get the pageName</h1>
            break;
    }
}



